*, a:active {
    outline: none; /*Disable outline on click*/
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

button::-moz-focus-inner {
    border: 0; /* remove Firefox's dotted outline */
}
  
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

h1, h2 {
    font-family: Helvetica, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    color: #d50000;
}

button {
    width: 10em;
    height: 2em;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 2px 0 black;
}
.box button:active {
    box-shadow: 0 0.5px 0 black;
    transform: translateY(4px);
}
.nav-links {
    font-family: Arial;
}

.nav-links button {
    background: #c62e2d;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 5px 0 #932421;
    border-radius: 20px;
}

.nav-links button:hover {
    background: #b71c1c;
}

.box {
    background-color: #F8BBD0;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #EC407A;
    border-radius: 10px;
    padding: 0 1% 1% 1%;
    height: auto;
    text-align: center;
}

.timer-form {
    margin: 3%;
}

.timer-form button {
    background: #24a19d;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 0 5px 0 #187672;
    border-radius: 3px;
}

p {
    font-family: 'Tahoma','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.timer {
    margin: auto;
    width: 250px;
    border-radius: 10px;
    background: gray;
    font-size: 56px;
    height: 80px;
    font-family: 'Oswald', sans-serif, 'ZCOOL QingKe HuangYou', cursive;
    text-shadow: 0 4px 0 #696969;
    color: white;
    text-align: center;
    box-shadow: 0 5px 0 #4e4b4b;
}

.end-time {
    height: 18px;
    margin: 8px auto;
}